@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

.list-container {
    height: 85%;
    padding: 0 40px;
}

.list {
    height: 100%;
    overflow-y: auto;
    background-color: white;
}

.list::-webkit-scrollbar {
    width: 7px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #A3A7A9;
    border-radius: 10px;
}

.list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.item {
    cursor: pointer;
}

.item:hover:not(.selected) {
    background-color: #F6F9FC;
}

.file-name {
    font-weight: 600;
    user-select: none;
}

.selected {
    background-color: #D6EAF8;
}
